html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EFF0F1;
  margin: 0;
  padding: 0;
}

.actionbar {
  position: sticky;
  display: -ms-flexbox;
  top: 0;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem 1rem;
  z-index: 2;
}

.actionbar.actionbar-mobile {
  background-color: #bf1d23;
  color: #ffffff;
}

.actionbar.actionbar-mobile.actionbar-light {
  background-color: #ffffff;
  color: #000000;
}

.actionbar.actionbar-mobile.actionbar-light .title-page {
  text-align: center;
  font-size: 16px;
}

.actionbar-wrapper {
  display: block;
  height: 120px;
  margin-bottom: -100px;
  background-color: #bf1d23;
  color: #ffffff;
}

.actionbar .actionbar-action {
  display: inline-block;
  width: 44px;
  padding: 14px;
  margin: 0px 0px 0 -10px;
}

.actionbar .actionbar-content {
  display: inline-block;
  width: 80%;
}

.actionbar .actionbar-content .title-page{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: fixed;
  width: 80vw;
  height: 100vh;  
  left: 0;  
  background: #fff; 
  box-shadow: 0px 0px 25px -1px #424242;
  -moz-transform: translateX(-95vw);
  -ms-transform: translateX(-95vw);
  -webkit-transform: translateX(-95vw);
  transform: translateX(-95vw);
  transition-timing-function: ease-in;
  transition: 0.2s;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
}

.navbar .navbar-infos {
  position: relative; 
  display: inline-block;
  width: 100%;
  height: 186px;
  background: #bf1d23;
  padding: 15px;
}

#new-conteudo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 0px 25px -1px #424242;  
  transition-timing-function: ease-in;  
  z-index: 99;
}

.new-conteudo-left {
  -moz-transform: translateX(150vw);
  -ms-transform: translateX(150vw);
  -webkit-transform: translateX(150vw);
  transform: translateX(150vw);
}

.new-conteudo-right {
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.new-conteudo-transition{
  transition: 0.2s;
}

.navbar-active {  
  transition-timing-function: ease-out !important;
  transform: translateY(0) !important;
}

.navbar ul {
  margin: 0;
  padding: 25px 0;
  height: 400px; 
}

.navbar ul:last-of-type { 
  padding: 10px 0;
  height: 70px;
  border-top: 1px solid #cccccc;
}

.navbar ul li {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  list-style: none;
}

.navbar .navbar-close {
  display: inline-block;
  width: 44px;
  padding: 14px;
  margin: 0px 0px 0 -10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.img-user img {
  width: 56px;
  border-radius: 50%;
  margin: 30px 0 15px;
}

.name-user {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px; 
  color: #ffffff!important;
}

.email-user {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff!important;
}

.card {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px; 
  box-shadow: 0px 0px 15px -5px #949494;
  z-index: 1;
}

.list-items a{
  text-decoration: none;
}

.item-block {
  padding: 15px;
  border-bottom: 1px solid #F3F3F3;
}

.text-p, .text-p a {
  font-size: 12px;
  line-height: 18px;
  color: #8B8B8B!important;
}

.text-h600, .text-h600 a {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px; 
  color: #000000!important;
}

.area-legend {
  padding-bottom: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8B8B8B;
  border-bottom: 1px solid #8B8B8B;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.no-overflow {
  overflow: hidden
}

.overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(59, 62, 65, 0.95);
  opacity: 1;
  z-index: 9;
}

