<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Área central - Mobile</title>
        <link rel="stylesheet" href="<?php echo $this->url->get('css/mobile.css')?>">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,600" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
        <link rel="manifest" href="<?php echo $this->url->get('manifest.json')?>">
    </head>
    
    <body id="index">
        <nav class="navbar">
            <div class="navbar-infos">
                <div class="navbar-close" id="navbar-close">
                    <img src="/areacentral/public/img/remove-white.svg"> 
                </div>
                <div class="img-user">
                    <img src="<?php echo $this->url->get('img/joe.jpg')?>" alt="">
                </div>
                <div class="name-user">Diego Daniel Vieira</div>
                <div class="email-user">diegodaniel.mail@gmail.com</div>
            </div>

            <ul>
                <li>Início</li>
                <li>Cadastros</li>
                <li>Compras</li>
                <li>Financeiro</li>
                <li>Gestão</li>
                <li>Comunicação</li>
                <li>Relatórios</li>
            </ul>
            <ul>
                <li>Sair</li>        
            </ul>
        </nav>

        <div id="new-conteudo" class="new-conteudo-left">

        </div>
        <div id="conteudo">
            <?php echo $this->getContent(); ?>
        </div>

        <div class="overlay"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>

            $('#new-conteudo').on('click', '.return', function() {
                $('body').removeClass('no-overflow');
                $('#new-conteudo').removeClass('navbar-active');                                                                      
            });

            $('#conteudo').on('click','a', function (e){
                e.preventDefault();
                var sHref = $(this).attr('href');
                $.ajax({                   
                    dataType: 'html',
                    url: sHref,
                    success: function (sHtml) {
                        
                        $('body').addClass('no-overflow'); 

                        $('#new-conteudo')
                            .html(sHtml)
                            .addClass('new-conteudo-transition')
                            .addClass('new-conteudo-left')                            
                            .addClass('navbar-active');                                                                          
                             
                    }
                });
                return false;
            });

    
            $('#conteudo').on('click','#menu-collapse', function() {
                $('.navbar').addClass('navbar-active');
                $('body').addClass('no-overflow');
                $('.overlay').show();
            });

             $('body').on('click','.overlay', function() {
                $('.navbar').removeClass('navbar-active');
                $('body').removeClass('no-overflow');
                $('.overlay').hide();
            });

             $('body').on('click', '.navbar-close', function() {
                $('.navbar').removeClass('navbar-active');
                $('body').removeClass('no-overflow');
                $('.overlay').hide();
            });
        </script>
    </body>
</html>
